dynamic-logger-api-mule4/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:dynamic-logger="http://www.mulesoft.org/schema/mule/dynamic-logger" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/dynamic-logger http://www.mulesoft.org/schema/mule/dynamic-logger/current/mule-dynamic-logger.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="api-config" raml="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b2ca3968-10d3-4756-8751-6fcbc5b95193">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\loggers:application\json:api-config">
		<set-variable value="#[output application/java --- []]" doc:name="Set Update Result" doc:id="3e0f590f-d20c-433a-b77d-3b8cd092bc8b" variableName="response"/>
		<foreach doc:name="For Each" doc:id="66aa1aff-aef0-425b-9a6f-e81d86ea3fa2" >
			<set-variable value="#[payload.appName]" doc:name="Set App Name" doc:id="fa139347-664b-4f1d-9662-a793c707a780" variableName="appName"/>
			<foreach doc:name="For Each Loggers" doc:id="5a48acc3-8427-4cbb-a0de-6489728f8997" collection="#[payload.loggers]">
				<set-variable value="#[payload]" doc:name="Store Payload" doc:id="f4b326c4-13b2-408e-a12d-5e09c4b4e3bd" variableName="logRequest"/>
				<logger level="INFO" doc:name="Logger" doc:id="551c1d5d-860e-485e-8463-019765b3ad27" message="Updating logger for app #[vars.appName], loggerName: #[payload.name], level #[payload.level]" />
				<try doc:name="Try" doc:id="ec48597b-43fb-4cd8-ac2d-a1fd5bb89896" >
					<dynamic-logger:update-logger doc:name="Update logger" doc:id="b061ab02-fbd6-4aad-a645-662388c6ed22" appName="#[vars.appName]" loggerName="#[payload.name]" level="#[payload.level]" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c1e3795e-1791-4329-8975-44be2ef1f617" >
							<set-payload value="#[false]" doc:name="Set Update Status" doc:id="be320d04-62a1-4ebb-aa2d-3fb730bdab38" />
						</on-error-continue>
					</error-handler>
				</try>
				<ee:transform doc:name="Add To Response" doc:id="a4e508fe-6603-4bd9-b86c-1a3a80eab25e">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="response"><![CDATA[%dw 2.0
output application/java
---
vars.response << {
	appName: vars.appName,
	(vars.logRequest),
	updateStatus: payload
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			</foreach>
		</foreach>
		<ee:transform doc:name="Response" doc:id="bf22fa7d-2c81-4217-b314-6f972209b5f4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.response]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\loggers:api-config">
		<logger level="INFO" doc:name="Logger" doc:id="162cd267-94f4-4f50-9021-ff276f20f199" message="App Name #[attributes.queryParams.app]"/>
		<choice doc:name="Find by AppName?" doc:id="ca07ab97-7724-402c-9278-2f863b84600c" >
			<when expression="#[not isBlank(attributes.queryParams.app)]">
				<dynamic-logger:find-log-by-app-name doc:name="Logs by appName" doc:id="9c487898-8a0b-4980-9824-c495482444b2" appName="#[attributes.queryParams.app]"/>
			</when>
			<otherwise >
				<dynamic-logger:list-all-logs doc:name="List All Logs" doc:id="24f9be20-de89-4696-a0bf-b481d7f95be1" />
			</otherwise>
		</choice>
		<set-variable value="#[if(sizeOf(payload) &gt; 0) 200  else 404]" doc:name="Set Http Status" doc:id="3eaaea64-4052-4a36-8304-325f6ac947f3" variableName="httpStatus" />
		<ee:transform doc:name="Response" doc:id="5a6dffac-022e-4d9b-919c-7a8ecda1281c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(sizeOf(payload) > 0)
	(payload)
else {
	message : "No logger found"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
